main {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vw;
  width: auto;
}

.results {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-break: auto;
}

.editor {
  margin-right: 3vw;
}

.catchPhrase {
  display: flex;
  flex-direction: column;
}
